:root {
    /* Colours */
    --color-primary-background: #1DAFBC;
    --color-secondary-background: #2092A0;

    --color-borders: #123C64;

    --color-button: #E4CE18;
    --color-button-text: #715E1B;

    --color-icons: #EFEFEF;

    --color-text: #fff;
    --color-text-secondary: #100E0E;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }